* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    width: 50%;
    text-align: center;
    border: 1px solid;
    margin: 40px auto;
    padding: 40px;
}
input {
    display: block;
    margin-block: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border-style: solid;
}
form button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border-style: solid;
    cursor: pointer;
}
